{% extends "base.html" %}
{% block content %}
    {% load pagetag %}
    {% load custom_filter %}

    <div class="content-wrap">
        <div id="content" class="content">
            <div id="posts" class="posts-expand">


                {% for block in block_list %}
                    {% if block.image %}
                        <br>
                        <img class="tag_cat_avatar" src="{{ MEDIA_URL }}{{ block.image }}" alt="tag_cat_avatar">
                        <br>
                    {% endif %}
                    <div class="post-block page">
                        <div class="post-body">
                            <div id="about-detail">
                                <header class="post-header">
                                    <h1 class="about-title" itemprop="name headline">{{ block.title }}</h1>
                                </header>
                                {{ block.content|custom_markdown|safe }}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    |*´Å`)ﾉ Sorry！这里好像还没介绍呢！

                {% endfor %}


            </div>
        </div>
    </div>


    {% include "leftSidebar.html" %}
{% endblock %}
