{% extends "base.html" %}
{% load static %}
{% load custom_filter %}
{% load base_info %}
{% block content %}
    <!---------------------------------article start------------------------------------------------------------------------------------>
    <div class="content-wrap">
        <div id="content" class="content">
            <div id="posts" class="posts-expand">
                <article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
                    <div class="post-block-sub">
                        <div class="post-block">
                            <link itemprop="mainEntityOfPage" href="{% url 'detail' id=post.id %}">
                            <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <meta itemprop="name" content="{{ post.author }}">
                      <meta itemprop="description" content="{{ post.title }}">
                      <meta itemprop="image" content="{% static 'images/avatar.jpg' %}"></span>
                            <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                      <meta itemprop="name" content="Eden's Cats"></span>
                            <header class="post-header">
                                <!-------------------------------------------------------------->
                                <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
                                <div class="post-meta">
                        <span class="post-time">
                          <span class="post-meta-item-icon">
                            <i class="fa fa-calendar-o"></i>
                          </span>
                          <span class="post-meta-item-text">发表于</span>
                          <time title="创建于" itemprop="dateCreated datePublished"
                                datetime="{{ post.public_time|date:'Y-m-d H:i' }}">{{ post.public_time|date:'Y-m-d H:i ' }}</time></span>
                                    <span class="post-category">
                          <span class="post-meta-divider">|</span>
							<i class="fa fa-folder-o"></i>
                        </span>
                                    <span class="post-meta-item-text">分类于</span>
                                    <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                          <a href="{% url 'category_menu' id=post.category_id %}" itemprop="url" rel="index">
                            <span itemprop="name">{{ post.category }}</span></a>
                        </span>
                                    </span>
                                    <span id="{% url 'detail' id=post.id %}" class="leancloud_visitors"
                                          data-flag-title="{{ post.title }}">
                          <span class="post-meta-divider">|</span>
                          <span class="post-meta-item-icon">
                            <i class="fa fa-eye"></i>
                          </span>
                          <span class="post-meta-item-text">热度:</span>
                          <span class="leancloud-visitors-count"></span>
                          <span>{{ post.views }}℃</span></span>
                                    <div class="post-wordcount">
                                        <span class="post-meta-item-icon"><i class="fa fa-user"></i> </span>
                                        <span class="post-meta-item-text">作者:</span><span title="author"><a
                                            href="/about">{{ post.author }}</a></span>
                                        <span class="post-meta-divider">|</span><span
                                            class="post-meta-item-icon"></span>
                                        <span class="post-meta-item-icon"><i class="fa fa-file-word-o"></i></span>
                                        <span class="post-meta-item-text">字数统计&#58;</span><span
                                            title="字数统计">{{ post.words }}</span>
                                        <span class="post-meta-divider">|</span>
                                        <span class="post-meta-item-icon">
                            <i class="fa fa-clock-o"></i>
                          </span>
                                        <span class="post-meta-item-text">阅读时长 &asymp;</span>
                                        <span title="阅读时长">{{ post.time }}&nbsp;min</span></div>
                                </div>
                            </header>
                            <!---moto --->
                            <div class="post-body" itemprop="articleBody">
                                {% if post.slogan %}
                                    <blockquote class="blockquote-center">
                                        <div id="slogan-content">
                                            <p>{{ post.slogan|safe }}</p>
                                        </div>
                                    </blockquote>
                                {% endif %}
                                {% if post.digest %}
                                    <div class="note">
                                        {{ post.digest|custom_markdown }}
                                    </div>
                                {% endif %}
                                {#striptags用于过滤正文中所有的HTML标签#}
                                {#truncatechars用于截取正文前300个字符#}
                                {# {{ post.content|custom_markdown }} #}
                                {{ post.content|safe }}
                            </div>
                            <!--- end 0f article --->
                            <div>
                                <div>
                                    <div style="text-align:center;color:#ccc;font-size:12px">-------------本文结束
                                        <i class="fa fa-paw"></i>&nbsp;感谢您的阅读-------------
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="my_post_copyright">
                                    <script src="//cdn.bootcss.com/clipboard.js/1.5.10/clipboard.min.js"></script>
                                    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
                                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                                    <p>
                                        <span>本文标题:</span>
                                        <a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></p>
                                    <p>
                                        <span>文章作者:</span>
                                        <a href="http://www.trskycooik.com" title="访问 TRsky 的个人博客">{{ post.author }}</a>
                                    </p>
                                    <p>
                                        <span>发布时间:</span>{{ post.public_time|date:'Y-m-d H:i' }}</p>
                                    <p>
                                        <span>最后更新:</span>{{ post.modified_time|date:'Y-m-d H:i' }}</p>
                                    <p>
                                        <span>原始链接:</span>
                                        <a href="{% url 'detail' id=post.id %}"
                                           title="{{ post.title }}">{% url 'detail' id=post.id %}</a>
                                        <span class="copy-path" title="点击复制文章链接">
                            <i class="fa fa-clipboard" data-clipboard-text="{ % url 'detail' id=post.id %}"
                               aria-label="复制成功！"></i>
                          </span>
                                    </p>
                                    <p>
                                        <span>许可协议:</span>
                                        <i class="fa fa-creative-commons"></i>
                                        <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
                                           target="_blank"
                                           title="Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)">署名-非商业性使用-禁止演绎
                                            4.0 国际</a>转载请保留原文链接及作者。</p></div>
                                <script>var clipboard = new Clipboard(".fa-clipboard");
                                $(".fa-clipboard").click(function () {
                                    clipboard.on("success",
                                        function () {
                                            swal({
                                                title: "",
                                                text: "复制成功",
                                                icon: "success",
                                                showConfirmButton: !0
                                            })
                                        })
                                })</script>
                            </div>
                            <div>
                                <div style="padding:10px 0;margin:20px auto;width:90%;text-align:center;font-size: 15px;">
                                    <div>喵呜，饿了呀！给喵君喂条鱼吧</div>
                                    <button id="rewardButton" disable="enable"
                                            onclick='var qr=document.getElementById("QR");"none"===qr.style.display?qr.style.display="block":qr.style.display="none"'>
                                        <span>打赏</span></button>
                                    <div id="QR" style="display:none">
                                        <div id="wechat" style="display:inline-block">
                                            <img id="wechat_qr" src="{% static 'images/wechatpay.png' %}"
                                                 alt="TRsky 微信支付">
                                            <p>微信支付</p>
                                        </div>
                                        <div id="alipay" style="display:inline-block">
                                            <img id="alipay_qr" src="{% static 'images/alipay.png' %}" alt="TRsky 支付宝">
                                            <p>支付宝</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="post-footer">
                                <div class="post-tags">
                                    {% for tag in tags %}
                                        <a href="{% url 'search_tag' tag=tag %}" rel="tag">
                                            <i class="fa fa-tag"></i>{{ tag }}</a>
                                    {% endfor %}
                                </div>

                                <!-- 上下篇文章切换 开始-->
                                <div class="post-nav">
                                    {% if  prev_post %}
                                        <div class="post-nav-next post-nav-item">
                                            <a href="{% url 'detail' id=prev_post.id %}" rel="next"
                                               title="{{ prev_post.title }}">
                                                <i class="fa fa-chevron-left"></i>{{ prev_post.title }}</a>
                                        </div>
                                    {% endif %}
                                    <span class="post-nav-divider"></span>
                                    {% if next_post %}
                                        <div class="post-nav-prev post-nav-item">
                                            <a href="{% url 'detail' id=next_post.id %}" rel="prev"
                                               title="{{ next_post.title }}">
                                                <i class="fa fa-chevron-right"></i>{{ next_post.title }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- 上下篇文章切换 结束-->
                            </footer>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!------------comments-------------------->

        <link rel="stylesheet" href="{% static 'easy_comment/css/editor.css' %}">
        <!-- 评论框、评论列表和通知列表的样式 -->
        <link rel="stylesheet" href="{% static 'easy_comment/css/comment.css' %}">
        <!-- 代码块的高亮 -->
       {#   <link rel="stylesheet" href="{% static 'easy_comment/css/prism.css' %}">#}
        {#  <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>#}

        <!--------------comments end ------------------>
        <!--- 来必力评论系统 --->
        <div class="comments" id="comments">
            <div id="Coments">
                <div>
                    {% include 'easy_comment/comment_form.html' with post=post %}
                    {% include 'easy_comment/comment_list.html' with post=post %}
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------article end----------------------------------------------------------------------------------->
    <!---------------------sidebar-toggle ----------------->
    <div class="sidebar-toggle">
        <div class="sidebar-toggle-line-wrap">
            <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
            <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
            <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
        </div>
    </div>
    <aside id="sidebar" class="sidebar">
        <div class="sidebar-inner">
            <ul class="sidebar-nav motion-element">
                <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap">文章目录</li>
                <li class="sidebar-nav-overview" data-target="site-overview-wrap">站点概览</li>
            </ul>
            <section class="site-overview-wrap sidebar-panel">
                <div class="site-overview">
                    {% if request.user.is_authenticated %}

                        <div class="butauthor author">
                            <div id="user_info">
                                {% if  request.user.socialaccount_set.all.0.get_avatar_url %}
                                    <img src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar"/>
                                {% else %}
                                    <img src="{{ request.user.avatar.url }}" alt="avatar"/>
                                {% endif %}
                            </div>
                            <div id="dashboard">
                                <ul>
                                    <div style="color: #203e50">{{ request.user.username }}</div>
                                    <li><a href="{% url 'apps.blog:account_profile' %}">设置</a></li>
                                    <li><a href="{% url 'notifications:unread' %}" target="_blank"#}>
                                        消息
                                        <span class="unread-count"></span>
                                         <span class="live-notify-badge"></span>
                                    </a>
                                    </li>
                                    <li><a href="{% url 'account_logout' %}?next={{ request.path }}">登出</a></li>
                                </ul>
                            </div>
                        </div>

                    {% else %}

                        {% get_base_info as infos %}
                        {% for info in infos %}
                            <div class="site-author motion-element" itemprop="author" itemscope
                                 itemtype="http://schema.org/Person">
                                <img class="site-author-image" itemprop="image"
                                     src="{% get_media_path %}{{ info.avatar }}"
                                     alt="avatar">
                                <p class="site-author-name" itemprop="name">{{ info.user_name }}</p>
                                <p class="site-description motion-element" itemprop="description">{{ info.slogan }}</p>
                            </div>
                        {% endfor %}
                        <nav class="site-state motion-element">
                            {% get_total_category as categories %}
                            {% get_total_tag as tags %}
                            {% get_total_article as articles %}
                            <div class="site-state-item site-state-posts">
                                <a href="/archives/">
                                    <span class="site-state-item-count">{{ articles.count }}</span>
                                    <span class="site-state-item-name">日志</span></a>
                            </div>
                            <div class="site-state-item site-state-categories">
                                <a href="/categories/">
                                    <span class="site-state-item-count">{{ categories.count }}</span>
                                    <span class="site-state-item-name">分类</span></a>
                            </div>
                            <div class="site-state-item site-state-tags">
                                <a href="/tags/">
                                    <span class="site-state-item-count">{{ tags.count }}</span>
                                    <span class="site-state-item-name">标签</span></a>
                            </div>
                        </nav>

                    {% endif %}
                    <div class="feed-link motion-element">
                        <a href="/atom.xml" rel="alternate"><i class="fa fa-rss"></i>RSS</a>
                    </div>
                    <div class="links-of-author motion-element">
                    <span class="links-of-author-item">
                      <a href="https://gitee.com/trsky" target="_blank" title="码云">
                        <i class="fa fa-fw fa-cloud"></i>码云</a>
                    </span>
                        <span class="links-of-author-item">
                      <a href="#" target="_blank" title="CSDN">
                        <i class="fa fa-fw fa-book"></i>CSDN</a>
                    </span>
                        <span class="links-of-author-item">
                      <a href="https://github.com/HardworkFish" target="_blank" title="Github">
                        <i class="fa fa-fw fa-github"></i>Github</a>
                    </span>
                        <span class="links-of-author-item">
                      <a href="http://music.163.com/#/user/home?id=316926790" target="_blank" title="网易云">
                        <i class="fa fa-fw fa-music"></i>网易云</a>
                    </span>
                    </div>
                    {% get_friends_links as links %}
                    {% if links.count > 0 %}
                        <div class="links-of-blogroll motion-element links-of-blogroll-block">
                            <div class="links-of-blogroll-title">
                                <i class="fa fa-fw fa-link"></i>友情链接
                            </div>
                            <ul class="links-of-blogroll-list">
                                {% for link in links %}
                                    <li class="links-of-blogroll-item">
                                        <a href="{{ link.url }}" title="{{ link.remark }}"
                                           target="_blank">{{ link.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
            </section>
            <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
                <div class="post-toc">
                    <div class="post-toc-content">
                        {{ post.toc|safe }}
                    </div>
                </div>
            </section>
        </div>
    </aside>



{% endblock %}