{% load static %}

	<!-------- 专栏  SideBar Menu ------------->
		<!-------- 控制开关 ------------------------>
		<div class="columnist">
			<a id="cd-menu-trigger" href="#0"> <span class="cd-menu-icon"></span> </a>
		</div>

		<nav id="cd-lateral-nav">
		<aside class="main-sidebar">
	<section  class="sidebar-menu-list">
	<ul class="sidebar-menu">
	  <li class="header">博客专栏</li>

	  <li class="treeview">
		<a href="#">
		  <i class="fa fa-book"></i> <span>学习与总结</span>
		  <i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
		    <li>
			<a href="#"><i class="fa fa-circle-o"></i> Linux <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
			   <li>
				<a href="#"><i class="fa fa-circle-o"></i> Linux 命令行 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-circle-o"></i> cat</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> sudo</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> w </a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> mv</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> pgrep</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> ps</a></li>
				</ul>
			  </li>
			  <li>
				<a href="#"><i class="fa fa-circle-o"></i> Linux 源码解读 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-circle-o"></i> Linux 内核解读之进程调度</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> Linux 内核阶段之文件读写</a></li>
				</ul>
			  </li>
			</ul>
		  </li>
		   <li>
			<a href="#"><i class="fa fa-circle-o"></i> 算法与数据结构 <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
			   <li>
				<a href="#"><i class="fa fa-circle-o"></i> Python数据结构之树 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-circle-o"></i> 二叉树</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> 平衡树</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> 二叉排序树 </a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> 结构树</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> 搜索树</a></li>
				</ul>
			  </li>
			  <li>
				<a href="#"><i class="fa fa-circle-o"></i> Linux 源码解读 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-circle-o"></i> Linux 内核解读之进程调度</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> Linux 内核阶段之文件读写</a></li>
				</ul>
			  </li>
			</ul>
		  </li><li>
			<a href="#"><i class="fa fa-circle-o"></i> Linux <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
			   <li>
				<a href="#"><i class="fa fa-circle-o"></i> Linux 命令行 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-circle-o"></i> cat</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> sudo</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> w </a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> mv</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> pgrep</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> ps</a></li>
				</ul>
			  </li>
			  <li>
				<a href="#"><i class="fa fa-circle-o"></i> Linux 源码解读 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-circle-o"></i> Linux 内核解读之进程调度</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> Linux 内核阶段之文件读写</a></li>
				</ul>
			  </li>
			</ul>
		  </li>

		</ul>
	  </li>
	  <li class="treeview">
		<a href="#">
		  <i class="fa fa-book"></i> <span>学习与生活</span>
		  <i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
		  <li><a href="#"><i class="fa fa-circle-o"></i> 实习</a></li>
		  <li>
			<a href="#"><i class="fa fa-circle-o"></i> 面试 <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
			  <li><a href="#"><i class="fa fa-circle-o"></i> A 公司面试</a></li>
			  <li>
				<a href="#"><i class="fa fa-circle-o"></i> B公司面试 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-circle-o"></i> 一轮</a></li>
				  <li><a href="#"><i class="fa fa-circle-o"></i> 二轮</a></li>
				</ul>
			  </li>
			</ul>
		  </li>
		  <li><a href="#"><i class="fa fa-circle-o"></i> 校园</a></li>
		</ul>
	  </li>
	  	  <li class="treeview">
		<a href="#">
		  <i class="fa fa-book"></i> <span>上课不听讲</span>
		  <i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
		  <li><a href="#"><i class="fa fa-circle-o"></i> 计算机网络</a></li>
		  <li>
			<a href="#"><i class="fa fa-circle-o"></i> 汇编语言程序设计 <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
			  <li><a href="#"><i class="fa fa-circle-o"></i> 实现 Hanoi</a></li>
			  <li>
				<a href="#"><i class="fa fa-circle-o"></i> 实现音乐播放器 <i class="fa fa-angle-left pull-right"></i></a>
			  </li>
			</ul>
		  </li>
		   <li>
			<a href="#"><i class="fa fa-circle-o"></i> 操作系统 <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
			  <li><a href="#"><i class="fa fa-circle-o"></i> 进程调度</a></li>
			  <li>
				<a href="#"><i class="fa fa-circle-o"></i> 线程调度 <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
			  <li><a href="#"><i class="fa fa-circle-o"></i> 伪代码实现</a></li>
			  <li>
				<a href="#"><i class="fa fa-circle-o"></i> 调度原理</a>
			  </li>
			</ul>
			  </li>
			</ul>
		  </li>

		</ul>
	  </li>

	</ul>
        <script type="text/javascript" src="{% static 'js/sidebar-menu.js' %}"></script>
    <script>
        $.sidebarMenu($('.sidebar-menu'))
    </script>

  </section>
 </aside>

</nav>

<!-----------------sidebar menu end --------------------------->
