{% load static %}
{% load base_info %}

<!-------- 专栏  SideBar Menu ------------->
<!-------- 控制开关 ------------------------>
<div class="columnist">
    <a id="cd-menu-trigger" href="#"> <span class="cd-menu-icon"></span> </a>
</div>
<nav id="cd-lateral-nav">
    <aside class="main-sidebar">
        <section class="sidebar-menu-list">
            <ul class="sidebar-menu">
                <li class="header">博客专栏</li>
                {% get_column_info as column_category_list %}
                {% for column_category in column_category_list %}
                    {% if column_category.column_set.count > 0 %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>{{ column_category.name }}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    {% for column in column_category.column_set.all %}
                                        {% if column.article_set.count > 0 %}
                                            <li>
                                                <a href="#"><i class="fa fa-circle-o"></i> {{ column }}
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </a>
                                                <ul class="treeview-menu">
                                                    {% for post in column.article_set.all %}
                                                        <li><a href="{% url 'detail' id=post.id %}">
                                                            <i class="fa fa-circle-o"></i> {{ post.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <script type="text/javascript" src="{% static 'js/sidebar-menu.js' %}"></script>
            <script>
                $.sidebarMenu($('.sidebar-menu'))
            </script>

        </section>
    </aside>

</nav>

<!-----------------sidebar menu end --------------------------->
