{% extends "base.html" %}
{% block content %}


    		<div class="content-wrap">
						<div id="content" class="content">
							<div class="post-block tag">
								<div id="posts" class="posts-collapse">
									<div class="collection-title">
										<h1>Django<small>标签</small></h1>
									</div>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/855680b2.html" itemprop="url"><span itemprop="name">2018.2最新-Scrapy+elasticSearch+Django打造搜索引擎(三)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-02-02T20:36:40+08:00" content="2018-02-02">
													02-02
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/fba5a099.html" itemprop="url"><span itemprop="name">2018.2最新-Scrapy+elasticSearch+Django打造搜索引擎(二)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-30T02:28:28+08:00" content="2018-01-30">
													01-30
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/54943bfb.html" itemprop="url"><span itemprop="name">2018.2最新-Scrapy+elasticSearch+Django打造搜索引擎(一)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-29T01:28:28+08:00" content="2018-01-29">
													01-29
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/8b4c6c13.html" itemprop="url"><span itemprop="name">强力Django+杀手级Xadmin打造在线教育平台 - 系列完整版</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-17T00:15:31+08:00" content="2018-01-17">
													01-17
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/743baaa3.html" itemprop="url"><span itemprop="name">强力Django+杀手级Xadmin打造在线教育平台(十三)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-16T22:49:17+08:00" content="2018-01-16">
													01-16
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/ac88a88.html" itemprop="url"><span itemprop="name">强力Django+杀手级Xadmin打造在线教育平台(十二)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-16T22:09:17+08:00" content="2018-01-16">
													01-16
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/a5f911ea.html" itemprop="url"><span itemprop="name">强力Django+杀手级Xadmin打造在线教育平台(十一)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-16T22:09:17+08:00" content="2018-01-16">
													01-16
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/fe5291db.html" itemprop="url"><span itemprop="name">强力Django+杀手级Xadmin打造在线教育平台(十)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-15T22:09:17+08:00" content="2018-01-15">
													01-15
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/83fbe6af.html" itemprop="url"><span itemprop="name">强力Django+杀手级Xadmin打造在线教育平台(九)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-14T22:09:17+08:00" content="2018-01-14">
													01-14
												</time>
											</div>
										</header>
									</article>
									<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
										<header class="post-header">
											<h2 class="post-title"><a class="post-title-link" href="/post/9f2a0c4b.html" itemprop="url"><span itemprop="name">强力Django+杀手级Xadmin打造在线教育平台(八)</span></a></h2>
											<div class="post-meta">
												<time class="post-time" itemprop="dateCreated" datetime="2018-01-13T22:09:17+08:00" content="2018-01-13">
													01-13
												</time>
											</div>
										</header>
									</article>
								</div>
							</div>
							<nav class="pagination">
								<span class="page-number current">1</span><a class="page-number" href="/tags/Django/page/2/">2</a><a class="extend next" rel="next" href="/tags/Django/page/2/"><i class="fa fa-angle-right"></i></a>
							</nav>
						</div>
					</div>




    {% include "leftSidebar.html" %}


{% endblock %}
