{% extends "base.html" %}
{% block title %}Eden's Cat|Tags{% endblock %}
{% block content %}
    {% load pagetag %}
    {% load static %}
    <!----- tags start ----------->
    <!----- arcticle start ----------->
    <div class="content-wrap">
        <div id="content" class="content">
            <div class="post-block-sub">
                <img class="tag_cat_avatar" src={% static 'images/tags_cloud_title.png' %} alt="tags_cloud_title">
                <div id="posts" class="posts-expand">
                    <div class="post-block page">
                        <header class="post-header">
                            <h1 class="post-title" itemprop="name headline"></h1></header>
                        <div class="post-body">
                            <div class="tag-cloud">
                                <div class="tag-cloud-tags">
                                    <div class="tag-cloud-title"> 目前共计{{ tags_list.count }} 个标签</div>
                                    {% for tag in tags_list %}
                                        <a href="{% url 'search_tag' tag=tag %}"
                                           style="font-size:{% widthratio tag.article_set.count 1 5 %}px;color:#363636">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------sidebar-toggle ----------------->
    </div>
    {% if request.user.is_authenticated %}
        {% include "account/personal_logined.html" %}
    {% else %}
        {% include "leftSidebar.html" %}
    {% endif %}
{% endblock %}