#id_parent {
    display: none;
}

#id_post {
    display: none;
}

#id_honeypot {
    display: none;
}

.comment-avatar img {
    width: 40px;
    height: 40px;
    float: left;
}

.comment-header {
    padding: 10px 10px;
    border: solid 1px;
    border-color: silver;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: -5%;
    display: block;
}

.comment-header span {
    font-size: 1.0em;
    margin-left: 0px;
}

.comment-list {
    border-top: solid 1px;
    border-color: #e74851;
}

.first-generation {
    border-bottom: solid 1px;
    border-color: silver;
}

.comment-root {
    padding: 2px 0 0px;
    margin: 0;
}

.comment-leaf {
    padding: 15px 0 10px;
    margin: 0;
    margin-left: 60.2167px;
    border-top: dashed 1px;
    border-color: silver;
}

.comment-left {
    padding: 0;
}

.comment-right {
    padding: 0;
}

.comment-reply-to {
    color: #23527c;
}

.comment-reply {
    font-size: 15px;
}

.comment-time {
    color: #8590a6;
    font-size: 72%;
}

.comment-user strong {
    font-size: 15px;
    padding: 12px;
}

.comment-content {
    margin: 0;
    width: 633px;;
}

#cke_id_content {
    width: auto !important;
    margin: 0 auto;
    position: static;
}

@media (max-width: 767px) {
    #cke_id_content {
        width: auto !important;
        margin: 0 auto;
        position: static;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #cke_id_content {
        width: auto !important;
        margin: 0 auto;
        position: static;
    }
}

.comment-content p {
    font-size: 12px;
    margin: 1.0em 0;
}

.comment-content img {
    max-width: 21%;
    height: auto;
    border: solid 1px;
    margin: 5px 0;
}

.like {
    margin-right: 15px;
}

.dislike {
    margin-right: 15px;
}

#cancel-reply {
    margin-right: auto;
    margin-top: -200px;
}

.comment-count {
    margin: 100px 0 5px;
    color: #e74851;
}

.container-fluid {
    padding: 0;
}

.like-total {
    margin-left: 5px;
}

.dislike-total {
    margin-left: 5px;
}

.red-finger {
    color: #e74851;
}

/*--- notification setting */
.notice-list {
    margin-top: 50px;
}

.notice-head {
    border-bottom: solid 1px;
    border-color: silver;
}

.notifications {
    padding: 0;
}

.notifications img {
    margin: 5px 0;
    max-width: 100%;
    height: auto;
}

.notice-target {
    color: #e74851;
}

.notice-action {
    margin: 0;
}

.notice-action a {
    margin-left: 20px;
}

.comment-box {
    background: #637a86;
    display: block;
    padding: 48px;
    width: 630px;
    height: 300px;
    text-align: center;
    /* left: 0px; */
    position: relative;
    margin: 21px auto;
}