.jiathis_style_32x32 {
    display: inline-block;
    float: right;
}

.jiathis_style_32x32 a {
    display: inline-block;
}

#like-btn {
    color: #1abc9c;
    padding: 3px 8px;
    font-size: 14.5px;
    line-height: 32px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 188, 156);
}

#like-btn span {
    font-size: 14.5px;
    font-family: inherit;
}

.like_share {
    margin-top: 60px;
    text-align: center;

}

.like_share a:hover {
    color: #FFF0;
    border-bottom-color: rgb(26, 188, 156);
}

.like_share button:visited {
    color: #666;
}

.button-border, .button-border-thick, .button-border-thin {
    background: 0 0;
    border-width: 0.95px;
    border-style: solid;
    line-height: 36px;
    border-radius: 6px;
}

.like-count {
    border-left: solid 1px;
    margin-left: 5px;
    padding-left: 8px;
}
