{% load static %}
<!DOCTYPE html>
<html lang="en">
<head  >

    <meta charset="utf-8">
    <meta name="description" content="用户账号管理，使用django-allauth社交用户系统，支持Baidu、Github等社交账号登录。">
    <meta name="keywords" content="django-allauth,社交用户系统,OAuth 2.0">

    <title>{% block head_title %}{% endblock %}</title>

    {# <link rel="stylesheet" href="{% static 'account/css/bootstrap.min.css' %}" crossorigin="anonymous">#}
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link href="{% static 'account/css/account_style.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo.jpg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico' %}">
    <link rel="mask-icon" href="{% static 'images/favicon.ico' %}" color="#222">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
</head>
<body>

{% block base_content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
                <div class="card rounded-0 px-3 px-lg-4">
                    <div class="card-header text-center bg-white py-2">
                        <h3 class="my-1 text-info">{% block user_title %}欢迎━(*｀∀´*)ノ亻! 来到 TRsky 的小小博客！{% endblock %}</h3>
                    </div>
                    <div class="card-body card-login">{% block content %}{% endblock %}</div>
                    {% block account_profile %}{% endblock account_profile %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}

</body>
</html>