{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block head_title %}密码重置-TRsky的博客{% endblock %}

{% block content %}

    <div class="local-login">
    <div class="header"><h2>密码重置</h2></div>
    <div class="account-login">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "  Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class=" button-primary button-primary-flat"  value="{% trans 'Reset My Password' %}" />

    </form>
        <p>{% blocktrans %}  Please contact admin(625310581@qq.com) if you have any trouble resetting your password.{% endblocktrans %}</p>

    </div>
     {% include 'account/social.html' %}
   </div>

{% endblock %}
