{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %} 用户注册-TRsky的博客{% endblock %}

{% block content %}

<div class="local-login">
    <div class="header"><h2>用户注册</h2></div>
<div class="account-login">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="sign-up-button">{% trans "Sign Up" %} &raquo;</button>
 <div class="regis">
           <p>{% blocktrans %}已经有一个账号？请  <a class=" button-primary button-primary-flat" href="{{ login_url }}">登录</a>{% endblocktrans %}</p>

        </div>
</form>
</div>
    {% include 'account/social.html' %}
</div>
{% endblock %}
