{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %} 用户信息修改-TRsky的博客 {% endblock %}
<link href="{% static 'css/account.css' %}" rel="stylesheet">
{% block account_profile %}
    <div class="local-login">
        <div class="header"><h2>个人资料</h2></div>
        <div class="account-login">

            <form class="profile" method="post" enctype="multipart/form-data"
                  action="{% url 'apps.blog:account_profile' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <!--用户头像-->
                <div class="avatar">
                    {% if  request.user.socialaccount_set.all.0.get_avatar_url %}
                        <img src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar"/>
                    {% else %}
                        <img src="{{ request.user.avatar.url }}" alt="头像"/>
                    {% endif %}
                </div>
                <button class=" button-primary button-primary-flat"type="submit">更新资料</button>
            </form>
        </div>


        {% if request.user.is_authenticated %}
            <div class="text-center mb-5" id="social-login">
                <div class="login-title">
                    <span>其他操作</span>
                </div>
                {% if request.path == '/accounts/profile/' %}
                     <div class="login-link">
                    <a href="{% url 'account_change_password' %}">修改密码</a>
                    <a href="{% url 'account_logout' %}?next={{ request.path }}">登出</a>
                     </div>
                {% endif %}
            </div>
        {% endif %}
    </div>



    </div>
{% endblock account_profile %}