{% load message_tags %}
<div class="list">
    <h3><span>Soya sause</span></h3>
    <ul>
        {% for msg in public_message_list %}
            <li>
                {% if msg.user.socialaccount_set.all.0.get_avatar_url %}
                    <div class="userPic"><img src="{{ msg.user.socialaccount_set.all.0.get_avatar_url }}"alt="avatar"/></div>
                {% else %}
                    <div class="userPic"><img src="{{ msg.user.avatar.url }}" alt="avatar"/></div>
                {% endif %}
                {% csrf_token %}
                <div class="content">
                    <div class="userName">{{ msg.user_name }}:</div>
                    <div class="msgInfo">{{ msg.content|safe }}</div>
                    <div class="times"><span>{{ msg.submit_date }}</span></div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>