PyMySQL==0.9.2
jieba==0.39
django_ckeditor==5.6.1
Django==2.0.5
Whoosh==2.7.4
django_imagekit==4.0.2
django_mdeditor==0.1.6
Markdown==2.6.11
django_haystack==2.8.1
imagekit==1.0.6
mdeditor==0.3.2
django_mptt==0.9.1
