<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Eden's Cats|Server Error</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body style="background-image: url('{% static 'images/home_bg.png' %}')">
	<div class="main">
		<div class="agileits_main_grid">
			<div class="agileits_main_grid_left">
				<h1>Server error</h1>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="agile_copy_right">
			<p>Internal server error. There is a problem with the resource you are looking for，and it cannot be displayed. 
		</div>
		<div class="agile_copy_right">
			<p>Click me <a href="/home">return back</a></p>
		</div>
	</div>
</body>
</html>

