{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load staticfiles %}
    {% load pagetag %}
    {% load message_tags %}
    {% get_message_list_of request as message_list %}
    {#% get_messages as message_list %#}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/message.css' %}">
     <script type="text/javascript" src="{% static 'js/message.js' %}"></script>

    <div class="content-wrap">
        <div id="content" class="content">
            <div class="post-block tag" style="opacity: 1; display: block;">
                <div class="post-block-sub">
                    <div id="msgBox">
                        {% include 'message/message_form.html' %}
                        {% include 'message/message_list.html' %}
                        {% get_messages as messages %}
                        <div class="msg_paginator">共有 {{ messages|length }} 页</div>
                    </div>
                </div>
            </div>

            <nav class="pagination">
                {% if message_list.has_previous %}
                    <a class="extend next" rel="next" href="?page={{ message_list.previous_page_number }}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                {% endif %}
                {% if message_list.has_next %}
                    <a class="extend next" rel="next" href="?page={{ message_list.next_page_number }}"><i
                            class="fa fa-angle-right"></i></a>
                {% endif %}


            </nav>

        </div>
    </div>



    {% if request.user.is_authenticated %}
        {% include "account/personal_logined.html" %}
    {% else %}
        {% include "leftSidebar.html" %}
    {% endif %}
{% endblock %}