{% extends 'account/base.html' %}
{%load static %}
{% load crispy_forms_tags %}
 <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% block account_profile %}
    <div class="local-header"><h4>个人资料</h4></div>
    <form class="profile" method="post" enctype="multipart/form-data"
        action="{% url 'apps.blog:account_profile' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <!--用户头像-->
        <div class="avatar">
            <img class="img-rounded" src="{{ request.user.avatar.url }}">
        </div>
        <button class="primaryAction " type="submit">更新资料</button>
    </form>
{% endblock account_profile %}